<!DOCTYPE html>
<html lang="en">

<head>
    <style type="text/css">
        body {
            background-color: rgb(133, 128, 143);
        }
    </style>
</head>

<body>
    <h1>
        <center>PRIYANKA</center>
    </h1>
    <h2>
        <center>ID:1001874594</center>
    </h2>
    <center>
</body>

</html>

<br>


<form method='POST' action="/latlong">
    ENTER ANY VALUE OF LATITUTE <input type="number" name="number1" placeholder="Enter lat value"> AND LONGITUDE <input type="number" name="number2" placeholder="Enter long value"> TO KNOW EARTHQUAKES BETWEEN THEM
    <br>
    <br>
    <input type="submit">
</form>

<br>
<br>
<br>

<form method='POST' action='/gap'>
    ENTER A NET VALUE TO BE CHANGED <input type="name" name="net" placeholder="Enter any value"> ENTER A VALUE <input type="number" name="num" placeholder="Enter any number">
    <br>
    <br>
    <input type="submit">
</form>

<br>
<br>


<form method='POST' action='/match'>
    ENTER GAP FROM <input type="name" name="gap1" placeholder="Enter GAP"> TO <input type="name" name="gap2" placeholder="Enter GAP"> ANG NET <input type="name" name="netvalue" placeholder="Enter value"> TO SEE MATCHES
    <br>
    <br>
    <input type="submit">
</form>

<br>
<br>
<br>

<form method="POST" action="/magrange">
    EARTHQUAKES OCCURED MAG RANGE FROM<input type="name" name="mag1" placeholder="Enter MAG"> TO <input type="name" name="mag2" placeholder="Enter MAg"> AT PLACE <input type="name" name="place" placeholder="Enter any place">
    <br>
    <br>
    <input type="submit">
</form>

<br>
<br>
<br>



<form method="POST" action="/typenet">
    ENETR TYPE <input type="name" name="type" placeholder="enter type"> AND NET <input type="name" name="nett" placeholder="enter net"> TO SEE THE MATCHES
    <br>
    <br>
    <input type="submit">
</form>

<br>
<br>
<br>


<form method="POST" action="/stringchange">
    ENTER A TYPE TO CHANGE FROM <input type="name" name="type1" placeholder="enter type"> TO <input type="name" name="type2" placeholder="enter type">
    <br>
    <br>
    <input type="submit">
</form>



</center>


</body>

</html>